body{
    font-size: 10px; 
    background-color: #2E4057; 

}

header{
    background-color: #66A182; 
    display: flex; 
    height: 30%; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
}

.title-div{
    display: flex;
    width: 15%; 
    align-items: center; 
}

.title-div h1{
    margin-left: 1%; 
    font-size: 3rem; 
}

.title-div img{
    max-width: 25%; 
}

#nav-bar {
    width: 30%; 
    font-size: 1.5rem; 
}

ul {
    list-style: none;
    display: flex; 
    justify-content: space-between;
    align-items: top; 
    
}

li {
    background-color: #2E4057; 
    padding: 15px; 
    border: 3px solid black; 
    border-radius: 10%; 

}

a {
    color: #66A182; 
    text-decoration: none; 
    
}

li:hover{
    background-color: #66A182; 
}

a:hover{
    color: #2E4057; 
    
}

main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 75%; 
    margin: auto; 
    margin-top: 2%; 
    background-color: #66A182; 
}

main h2{
    font-size: 2rem; 
}

main iframe{
    width: 600px;
    height: 600px;  
}

#how-made{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

hr{
    width: 75%; 
    margin: 20px;
}

form{
    font-size: 1.5rem; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#email{
    width: 50%; 
    margin-top: 25px;
    margin-bottom: 10px;  
}

#submit{
    width: 10%; 
}

@media only screen and (max-width: 1000px){
    ul{
        display: block; 
        width: 90%; 
        max-width: 120px; 
    }
    li {
        padding: 5px; 
        font-size: 1.25rem; 
    }
    img{
        display:none; 
    }
}
